@model NationwideNannies.Models.NannyJobEmployment
@using NationwideNannies.Utils

@{
    ViewBag.Title = "Jobs";
}

<div class="content">
    <div class="about-section">
        <div class="container">
            <h2>Candidate Application Form</h2>

            <div class="about-info" style="margin-bottom:0px;">
                <p>Thank you for choosing Nationwide Nannies. We are delighted to help you in your search for a position/role that is best suitable for you. Please start by filling out the application form below. Applications with as much information as possible, with regards to relevant childcare experience and qualifications, will be strongly considered.  A member of our dedicated team will be in contact with you shortly thereafter to discuss your employment needs. 
                <a href="/home/contact" style="text-decoration:underline;">Contact us directly</a> if you have any questions/problems with the process.</p>
                <p>If you are interested in a particular vacancy, please state the advert title in your cover statement below. </p>
            </div>

            <div class="contact-form">
                @using (Html.BeginForm("Jobs", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-6">
                        <label>First Name</label> @Html.TextBoxFor(m => m.FirstName, new { required = "required" })
                    </div>
                    <div class="col-md-6">
                        <label>Last Name</label> @Html.TextBoxFor(m => m.LastName, new { required = "required" })
                    </div>
                    <div class="col-md-6">
                        <label>Email</label> @Html.TextBoxFor(m => m.Email, new { @type = "email", required = "required" })
                    </div>
                    <div class="col-md-6">
                        <label>Phone</label> @Html.TextBoxFor(m => m.Phone, new { required = "required" })
                    </div>
                    <div class="col-md-6">
                        <label>City</label> @Html.TextBoxFor(m => m.City)
                    </div>
                    <div class="col-md-6">
                        <label>Right to work in UK</label> @Html.DropDownListFor(m => m.EligibleToWork, LookupValuesHelper.GetYesNo())
                    </div>
                    <div class="col-md-6">
                        <label>Job Radius (in km)</label> @Html.DropDownListFor(m => m.Radius, LookupValuesHelper.GetJobRadius())
                    </div>
                    <div class="col-md-6">
                        <label>Employment Type</label> @Html.DropDownListFor(m => m.EmploymentType, LookupValuesHelper.GetEmploymentType())
                    </div>
                    <div class="col-md-6">
                        <label>Experience with age groups</label> @Html.DropDownListFor(m => m.ChildAgeGroup, LookupValuesHelper.GetChildAgeGroup())
                    </div>
                    <div class="col-md-6">
                        <label>Preferred Time for a Call</label> @Html.DropDownListFor(m => m.PreferedTimeForCall, LookupValuesHelper.GetTimeForCall())
                    </div>
                    <div class="col-md-6">
                        <label>Upload Resume</label> <input type="file" name="resume" required="required" />
                    </div>
                    <div class="col-md-6">
                        <label>Upload Photo</label> <input type="file" name="image" required="required" />
                    </div>
                    <div class="col-md-12">
                        <label>Comments</label> @Html.TextAreaFor(m => m.Comments)
                    </div>

                    <div class="col-md-12">
                        <input type="submit" value="Submit">
                    </div>
                }
            </div>

        </div>
    </div>
</div>



