@model NationwideNannies.Models.ParentRequest
@using NationwideNannies.Utils

@{
    ViewBag.Title = "Parents";
}

<div class="clients-bg">
    <div class="image-blur-div">

        <div class="content">
            <div class="about-section">
                <div class="container">
                    <h2>Client Registration Form</h2>

                    <div class="about-info" style="margin-bottom:0px;">

                        <p>Nationwide Nannies is pleased to assist you in your search for the desired candidate that best fits your current needs/requirements. The speediest way is to fill out the form with as much detail as possible, so we can embark on the task of finding you a suitable nanny. Once completed, the form will be sent to us immediately. A member of our dedicated team will give you a follow up call shortly thereafter to talk through your requirements and any additional information.</p>

                        <p>Please note the below form is for <span style="font-weight:bold;">parents only.</span> If you are seeking employment <a href="/home/jobs" style="text-decoration:underline;">click here</a></p>
                    </div>

                    <div class="contact-form">
                        @using (Html.BeginForm("Parents", "Home", FormMethod.Post))
                        {
                            <div class="col-md-6">
                                <label>Full Name</label> @Html.TextBoxFor(m => m.FullName, new { required = "required" })
                            </div>
                            <div class="col-md-6">
                                <label>Address</label> @Html.TextBoxFor(m => m.Address, new { required = "required" })
                            </div>
                            <div class="col-md-6">
                                <label>City</label> @Html.TextBoxFor(m => m.City, new { required = "required" })
                            </div>
                            <div class="col-md-6">
                                <label>Post code</label> @Html.TextBoxFor(m => m.PostalCode, new { required = "required" })
                            </div>
                            <div class="col-md-6">
                                <label>Preferred contact number</label> @Html.TextBoxFor(m => m.Phone, new { required = "required" })
                            </div>
                            <div class="col-md-6">
                                <label>Alternate contact number</label> @Html.TextBoxFor(m => m.PhoneAlt)
                            </div>
                            <div class="col-md-6">
                                <label>Preferred Time for a Call</label> @Html.DropDownListFor(m => m.PreferedTimeForCall, LookupValuesHelper.GetTimeForCall())
                            </div>
                            <div class="col-md-6">
                                <label>Email</label> @Html.TextBoxFor(m => m.Email, new { @type = "email", required = "required" })
                            </div>
                            <div class="col-md-6">
                                <label>Type of childcare you are looking for</label> @Html.DropDownListFor(m => m.TypeOfChilsdCare, LookupValuesHelper.GetTypeOfChildCare())
                            </div>
                            <div class="col-md-6">
                                <label>Length of service</label> @Html.DropDownListFor(m => m.JobDurationType, LookupValuesHelper.GetJobDurationType(), new { required = "required" })
                            </div>

                            <div class="col-md-6">
                                <label>Employment Type</label> @Html.DropDownListFor(m => m.EmploymentType, LookupValuesHelper.GetEmploymentType())
                            </div>
                            <div class="col-md-6">
                                <label>Live in Status</label> @Html.DropDownListFor(m => m.LiveInOut, LookupValuesHelper.GetNannyType())
                            </div>

                            <div class="col-md-12">
                                <label>Number of children caring for (including names, date of birth & gender)</label> @Html.TextAreaFor(m => m.ChildrenDetails, new { @class = "text-details" })
                            </div>
                            <div class="col-md-6">
                                <label>Do they attend?</label> @Html.DropDownListFor(m => m.ChildSchoolType, LookupValuesHelper.GetSchoolType())
                            </div>

                            <div class="col-md-6">
                                <label>Prefered Start Date</label> @Html.TextBoxFor(m => m.StartDate, new { @class = "date-field", required = "required" })
                            </div>
                            <div class="col-md-6">
                                <label>Preferred end of service date (for a temporary position)</label> @Html.TextBoxFor(m => m.EndDate, new { @class = "date-field", required = "required" })
                            </div>

                            <div class="col-md-6">
                                <label>Childcare qualified nannies only</label> @Html.DropDownListFor(m => m.QualifiedNannies, LookupValuesHelper.GetYesNo())
                            </div>
                            <div class="col-md-6">
                                <label>Do you require an Ofsted registered nanny?</label> @Html.DropDownListFor(m => m.OfstedRequirement, LookupValuesHelper.GetPreferenceTypes())
                            </div>

                            <div class="col-md-6">
                                <label>Salary /week</label> @Html.TextBoxFor(m => m.SalaryPerWeek, new { @type = "number", @min = "0" })
                            </div>

                            <div class="col-md-12">
                                <label>Additional information about your family or staff requirements </label> @Html.TextAreaFor(m => m.Comments)
                            </div>

                            <div class="col-md-6">
                                <label>Where did you hear about Nationwide Nannies</label> @Html.DropDownListFor(m => m.HowDidYouHearAboutUs, LookupValuesHelper.GetHearAboutUsOptions())
                            </div>
                            <div class="col-md-6">
                                <label>Have you used any of our services before</label> @Html.DropDownListFor(m => m.HaveUsedOurServices, LookupValuesHelper.GetYesNo())
                            </div>

                            <div class="col-md-12">
                                <label>Please specify how and when you used our services</label> @Html.TextAreaFor(m => m.UsedOurServicesDetails, new { @class = "text-details" })
                            </div>

                            <div class="col-md-12">
                                @Html.CheckBoxFor(m => m.ReceiveMarketingEmails) <label>I would like to receive occasional emails from Nationwide Nannies Ltd and partners regarding offers and services </label>
                            </div>

                            <div class="col-md-12">
                                @Html.CheckBoxFor(m => m.IsDeclarationAccepted) <label>I hereby confirm that the above information, to the best of my knowledge, is accurate and I have read, understood and agree to the terms and conditions set out by Nationwide Nannies Ltd . </label>
                            </div>

                            <div class="col-md-12">
                                <input type="submit" value="Submit">
                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>








