@using NationwideNannies.Helpers;
@using Microsoft.AspNet.Identity

@{
    string contactEmail = System.Configuration.ConfigurationManager.AppSettings["ContactEmail"];
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/cssreset.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" media="all">    
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css" media="all">

    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="London Nanny Services,London Nannying Services,West London Nannying Service,Central London Nannying Service,UK Nanny service,London Nanny Agency,London Nanny Company,London’s leading Nannying Service,London Babysitting services,London babysitter Service,West London Babysitting Service,Central London Babysitting Service,UK Babysitting service,London’s leading Babysitting Service" />
    <meta name="description" content="Nationwide Nannies is London’s leading specialists in providing high quality trained nannies and baby sitters. We are available 24/7 and will help you look for nannies, night nannies, maternity nannies and babysitters. We provide a stress and hassle free service, our friendly team will work with you throughout the recruitment process to ensure all your needs are met. UK’s leading Nanny Service - Love and Care - Open 7 days Call UsLondon’s leading Nanny Agency - We understand your childcare needs - Open 7 days Call Us">
    <meta charset="UTF-8">

    
    <script src="~/Scripts/css_browser_selector.js"></script>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/NationwideFormsFunctions.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    

    <script src="http://code.jquery.com/qunit/qunit-1.15.0.js"></script>


    <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400italic' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <!--header-->
    <div class="header banr">
        <div class="container">
            <div class="header-top">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>

                            </button>
                            <img src="/images/logoBlack2.jpg" style="width:260px;" />
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="@Html.IsMenuSelected("/")"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/services/Nannies">Nannies</a></li>
                                        <li><a href="/services/Nurses">Maternity/ Night Nurses</a></li>
                                        <li><a href="/services/BabySitters">Babysitters</a></li>
                                        <li><a href="/services/EmergencyChildcare">Emergency Childcare</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/clients/EmployThroughUs">Employ through us?</a></li>
                                        <li><a href="/clients/EmployingNanny">Employing a Nanny</a></li>
                                        <li><a href="/clients/StartYourNannySearch">Nab a Nanny !</a></li>
                                        <li><a href="/home/parents">Client Registration Form</a></li>
                                        <li><a href="/clients/ChildcareQualificationsGuide">Childcare Qualifications Guide</a></li>
                                        <li><a href="/clients/EmployerResponsibilities">Employer’s Responsibilities</a></li>
                                        <li><a href="/clients/TermsConditions">Terms and Conditions</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidates<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Candidates/WorkingWithYou">Working with You</a></li>
                                        <li><a href="/Candidates/RoleResponsibilitiesNanny">Role and Responsibilities of a nanny</a></li>
                                        <li><a href="/Candidates/ObtainQualification">Obtain a Qualification</a></li>
                                        <li><a href="/Candidates/SelectionNannies">Selection process: nannies</a></li>
                                        <li><a href="/Candidates/SelectionBabySitters">Selection process: babysitters</a></li>
                                        <li><a href="/home/jobs">Candidate Application Form</a></li>
                                        @*<li><a href="/Candidates/CurrentVacancies">Current Vacancies</a></li>*@
                                    </ul>
                                </li>
                                
                                <li class="@Html.IsMenuSelected("/home/about")"><a href="/home/about">About Us</a></li>
                                <li class="@Html.IsMenuSelected("/home/contact")"><a href="/home/contact">Contact Us</a></li> 

                                @if (Request.IsAuthenticated)
                                {
                                    
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li class="@Html.IsMenuSelected("/home/ClientSearch")"><a href="/home/ClientSearch">Client Search</a></li>
                                            <li class="@Html.IsMenuSelected("/home/CandidateSearch")"><a href="/home/CandidateSearch">Candidate Search</a></li>                                      
                                        </ul>
                                    </li>
                                }


                                @*<li class="@Html.IsMenuSelected("/home/parents")"><a href="/home/parents">Parents</a></li>
                                    <li class="@Html.IsMenuSelected("/home/jobs")"><a href="/home/jobs">Jobs</a></li>*@

                                    @*<li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="gallery.html">Gallery1</a></li>
                                                <li><a href="gallery.html">Gallery2</a></li>
                                                <li><a href="gallery.html">Gallery3</a></li>
                                            </ul>
                                        </li>*@
                                    @*<li><a href="codes.html">Codes</a></li>*@

                                </ul>

                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->

                        <div class="conactInfo">
                            Tel:  @System.Configuration.ConfigurationManager.AppSettings["Phone"] @Html.Raw("&nbsp;&nbsp;&nbsp;")
                            Email: <a href="mailto:@contactEmail">@contactEmail</a><p />

                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout: @User.Identity.GetUserName()</a>
                                }
                            }
                        </div>
                    </nav>

                </div>
            </div>
        </div>
        <!--header-->

        <div class="pageContent">
            @RenderBody()
        </div>

        <!--footer-->
        <div class="footer-section">
            <div class="container">
                <div class="social-icons">
                    <a href="#"><i class="icon1"></i></a>
                    <a href="#"><i class="icon2"></i></a>
                    @*<a href="#"><i class="icon3"></i></a>
                        <a href="#"><i class="icon4"></i></a>*@
                </div>
                <div class="footer-top">
                    <p>&copy; 2016 Nationwide Nannies. All rights reserved .</p>
                </div>
            </div>
        </div>
        <!--footer-->
        @RenderSection("scripts", required: false)
    </body>
</html>
