@using NationwideNannies.Helpers;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Refinement Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <!--header-->
    <div class="header banr">
        <div class="container">
            <div class="header-top">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                
                            </button>
                            <div class="navbar-brand">
                                <h1><a href="/">Nationwide Nannies</a></h1>
                                @*<img src="/images/logo.jpg" />*@
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="@Html.IsMenuSelected("/")"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/services/Nannies">Nannies</a></li>
                                        <li><a href="/services/Nurses">Maternity/ Night Nurses</a></li>
                                        <li><a href="/services/BabySitters">Baby Sitters</a></li>
                                        <li><a href="/services/EmergencyChildcare">Emergency Childcare</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/clients/EmployThroughUs">Employ through us?</a></li>
                                        <li><a href="/clients/EmployingNanny">Employing a Nanny</a></li>
                                        <li><a href="/clients/StartYourNannySearch">Start your nanny search!</a></li>
                                        <li><a href="/home/parents">Client Registration Form</a></li>
                                        <li><a href="/clients/ChildcareQualificationsGuide">Childcare Qualifications Guide</a></li>
                                        <li><a href="/clients/EmployerResponsibilities">Employer’s Responsibilities</a></li>
                                        <li><a href="/clients/TermsConditions">Terms and Conditions</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Candidates<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Candidates/WorkingWithYou">Working with You</a></li>
                                        <li><a href="/Candidates/RoleResponsibilitiesNanny">Role and Responsibilities of a nanny</a></li>
                                        <li><a href="/Candidates/ObtainQualification">Obtain a Qualification</a></li>
                                        <li><a href="/Candidates/SelectionNannies">Selection process: nannies</a></li>
                                        <li><a href="/Candidates/SelectionBabySitters">Selection process: baby sitters</a></li>
                                        <li><a href="/home/jobs">Candidate Application Form</a></li>
                                        <li><a href="/Candidates/CurrentVacancies">Current Vacancies</a></li>
                                    </ul>
                                </li>
                                <li class="@Html.IsMenuSelected("/home/about")"><a href="/home/about">About Us</a></li>
                                <li class="@Html.IsMenuSelected("/home/contactus")"><a href="/home/contact">Contact Us</a></li>
                                @*<li class="@Html.IsMenuSelected("/home/parents")"><a href="/home/parents">Parents</a></li>
                                <li class="@Html.IsMenuSelected("/home/jobs")"><a href="/home/jobs">Jobs</a></li>*@
                                
                                @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="gallery.html">Gallery1</a></li>
                                        <li><a href="gallery.html">Gallery2</a></li>
                                        <li><a href="gallery.html">Gallery3</a></li>
                                    </ul>
                                </li>*@
                                @*<li><a href="codes.html">Codes</a></li>*@
                                
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

            </div>
        </div>
    </div>
    <!--header-->

    <div class="pageContent">
        @RenderBody()       
    </div>
  
    <!--footer-->
    <div class="footer-section">
        <div class="container">
            <div class="social-icons">
                <a href="#"><i class="icon1"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
                <a href="#"><i class="icon4"></i></a>
            </div>
            <div class="footer-top">
                <p>&copy; 2016 Refinement. All rights reserved .</p>
            </div>
        </div>
    </div>
    <!--footer-->

</body>
</html>
